<%= form_for(@parking_area) do |f| %>
  <% if @parking_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_area.errors.count, "error") %> prohibited this parking_area from being saved:</h2>

      <ul>
      <% @parking_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.check_box :capacity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
